@mixin noselect(){
    user-drag: none; 
    -webkit-user-drag: none; 
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
        user-select: none; /* Non-prefixed version, currently
                    supported by Chrome and Opera */

    img{
        user-drag: none; 
        -webkit-user-drag: none; 
    }
}

@keyframes load{
    0%,
    80%,
    100% {
        box-shadow: 0 0;
        height: 10px;
    }
    40% {
        box-shadow: 0 -5px;
        height: 15px;
    }
}

:host{
    display: block;
    position: relative;

    >.choice-selector{
        display: flex;
        align-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
        background-color: #eee;
        border-radius: 3px;
        border: 1px solid #ddd;
        padding: 0 12px;
        position: relative;

        >.choice{
            @include noselect;
            box-shadow: 0 0 0 1px rgba(0,0,0,0.3);
            font-size: 13px;
            padding: 0 4px;
            margin: 6px 0;
            background-color: #f5f5f5;
            display: flex;
            align-items: center;
            cursor: pointer;
            max-width: 100%;

            >div{
                &.content{
                    flex: 1;
                    display: flex;
                    align-items: center;
                    font-size: 0;

                    >.choice-avatar{
                        flex: 0;
                        margin-left: -6px;
        
                        >img{
                            border-top-right-radius: 0px !important;
                            border-bottom-right-radius: 0px !important;
                            
                            &.circular{
                                border-radius: 100% !important;
                            }
                        }
                    }
        
                    >.choice-text{
                        flex: 1;
                        font-size: 13px;
                        color: #000;
                        line-height: 1;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        padding: 0 6px;
                    }

                }

                &.divider{
                    flex: none;
                    width: 1px;
                    height: 50%;
                    margin-left: 4px;
                    background: rgba(0,0,0,0.1);
                    box-shadow: 1px 0px 0 0px rgba(255, 255, 255, 0.6);
                }

                &.delete{
                    flex: none;
                    cursor: pointer;
                    font-size: 10px;
                    color: #777;
                    padding: 0 6px;

                    &:hover{
                        color: #007cbb;
                    }
                }
            }

            &:not(:last-of-type){
                margin-right: 8px;
            }
        }
        
        >.query-input{
            &.hidden{
                display: none !important;
            }

            >input{
                flex: none;
                border: none !important;
                outline: none !important;
                box-shadow: none !important;
                background: transparent !important;
                background-color: transparent !important;
                box-sizing: content-box !important;
                font-size: 13px !important;
                padding: 0 6px;
                margin: 6px 0;

                &.extraPadding{
                    padding: 0 15px;
                }
            }
            
            >.choices-spinner {
                position: absolute;
                z-index: 10;
                right: 20px;
                top: 50%;
                transform: translateY(-50%);
                display: block;
    
                .loader,
                .loader:before,
                .loader:after {
                    display: block;
                    background-color: #007cbb;
                    animation: load 1s infinite ease-in-out;
                    width: 3px;
                    height: 10px;
                }
                .loader {
                    color: #007cbb;
                    position: relative;
                    transform: translateZ(0);
                    animation-delay: -0.16s;
                }
                .loader:before,
                .loader:after {
                    position: absolute;
                    top: 0;
                    content: '';
                }
                .loader:before {
                    left: 6px;
                    animation-delay: -0.32s;
                }
                .loader:after {
                    left: 12px;
                }
            }
        }
    }

    >.items-dropdown{
        @include noselect;
        position: absolute;
        z-index: 10;
        left: 0;
        top: auto;
        right: 0;
        max-height: 200px;
        background-color: #fff;
        border-right: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
        border-left: 1px solid #ddd;
        overflow-x: hidden;
        overflow-y: auto;
        border-radius: 0 0 3px 3px;
        //box-shadow: inset 0 2px 2px -2px #007cbb;

        &::-webkit-scrollbar {
            width: 8px;
        }
         
        &::-webkit-scrollbar-track {
            border-radius: 0px;
            box-shadow: 0 0 1px rgba(0,0,0,0.3);
        }
         
        &::-webkit-scrollbar-thumb {
            border-radius: 0;
            background-color: #999;
            cursor: pointer;
            border-radius: 4px;
        }

        >.items-dropdown-alert{
            padding: 8px 15px;
            font-size: 13px;
            color: #fff;
            background-color: #007cbb;
            font-weight: 400;
            box-shadow: 0 0 3px rgba(0, 0, 0, 0.41);
        }

        >.items-dropdown-item{
            padding: 10px 15px;
            cursor: pointer;
            display: flex;
            align-items: center;

            &:hover{
                background-color: #f5f5f5;
            }

            &.active{
                background-color: #eee;
            }

            >.choice-item-avatar{
                flex: 0;
                margin-right: 12px;

                >img{
                    width: 26px;
                    height: 26px;
                    border-radius: 100%;
                }
            }

            >.choice-item-text{
                flex: 1;
                font-size: 13px;
                color: #000;
                line-height: 1;

                >.choice-item-meta{
                    font-size: 9px;
                    color: #888;
                    margin-top: 4px;
                    text-transform: uppercase;
                    letter-spacing: 0.5px;
                    line-height: 1;
                }
            }

        }
    }
    
    &.__disabled{
        @include noselect;

        &:before{
            content: "";
            display: block;
            background-color: #fff;
            opacity: 0.5;
            position: absolute;
            z-index: 100;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
        }

        .query-input{
            display: none !important;
        }
    }

    &.__dropdown_open{
        >.choice-selector{
            border-bottom-left-radius: 0px;
            border-bottom-right-radius: 0px;
        }
    }

    &.__singular{
        >.choice-selector{
            >.choice{
                border: none;
                box-shadow: none;
                background-color: transparent;
                flex: 1;
    
                >.divider{
                    display: none;
                }

                >.delete{
                    color: #000;
                    font-size: 14px;
                }
            }

            >.query-input{
                width: 100% !important;
                margin-left: -12px !important;
            }
        }
    }
}